body{
    max-width: 900px;
    margin: 0 1px;

    text-align: center; 
        font-family: 'Ink Free', 'Times New Roman' ;
        font-size: 35 px;
        font-weight: bold;
        color: #000;
}

.img-logo{
    width: 250px;
    padding: 20px;
}
.seccion1{
background-color: rgba(151, 222, 250, 98);
max-width: 950px;
align-self: first baseline;
}